@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(55 65 81);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/app/assets/Space_Grotesk/static/SpaceGrotesk-Bold.ttf');
  src: url('/app/assets/Space_Grotesk/static/SpaceGrotesk-Light.ttf');
  src: url('/app/assets/Space_Grotesk/static/SpaceGrotesk-Medium.ttf');
  src: url('/app/assets/Space_Grotesk/static/SpaceGrotesk-Regular.ttf');
  src: url('/app/assets/Space_Grotesk/static/SpaceGrotesk-SemiBold.ttf');
  font-weight: 400;
  font-style: normal;
}

.integration_animation {
  display: flex;
  animation: marquee 20s linear 0s infinite normal none running;
}

@keyframes marquee {
  from {transform: translateX(5%);}
  to {transform: translateX(-5%);}
}

.boxed {
  border-radius: 0.25rem;
  border-width: 1px!important;
  --tw-border-opacity: 1!important;
  border-color: rgb(52 64 84/var(--tw-border-opacity))!important;
}

.shadow-md, .shadow-sm {
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 5px 5px 0px 0px #475467;
  --tw-shadow-colored: 5px 5px 0px 0px var(--tw-shadow-color);
}

.font-title {
  font-family: SpaceGrotesk, sans-serif;
  font-weight: 400;
}


.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  font-size: 14px;
  visibility: hidden;
  width: 600px;
  background-color: black;
  color: #fff;
  text-align: start;
  border-radius: 6px;
  padding: 10px 20px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -600px; /* Use half of the width value */

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
